@import url('https://fonts.googleapis.com/css2?family=Yeseva+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,300;1,400;1,500;1,600;1,700;1,800&display=swap');
/* header bar code start */ 

body {
    font-family: 'Yeseva One', cursive;  
    width: 100%; 
}
.header {
    display: flex; 
    padding: 10px 40px 10px 40px; 
    margin: 0; 
    align-items: center;
    font-family: 'Open Sans', sans-serif;
    font-size: 25px;
    color: #38618c; 
}
.header img {
    height: 150px; 
    width: auto; 
    border-radius: 50%;
}

.rightlinks {
    display: flex; 
    justify-content: space-evenly;
    width: 100%; 
    margin: 0; 
}
a {
    color: #38618c; 
    text-decoration: none;
}
a :visited {
    color: #38618c; 
    text-decoration: none;
}

/* header bar code end */ 


.topblock {
    display: flex; 
    padding: 90px; 
    font-size: 150px; 
    font-weight: 900;
    text-align: center;
    align-items: center;
    color: #38618c; 
}
.middle {
    background-color: #eeeeee;
    display: flex; 
    justify-content: center;
    justify-content: space-evenly;
    color: black; 
    font-family: 'Open Sans', sans-serif;
    padding: 30px; 
}
.statsleft {
    border: 1px solid white; 
    padding: 200px 100px 200px 100px;
}
.statsright {
    border: 1px solid white; 
    padding: 200px 100px 200px 100px;
}
.middleheader {
    border: solid 1px black; 
    display:flex;
    align-items: center;
    text-align: center;
    margin: 100px; 
    font-family: 'Open Sans', sans-serif;
}
.middlecenter {
    display: flex; 
    flex-direction: column;
    align-items: center;
}
.button {
    border: solid black 2px; 
    padding: 10px 30px 10px 30px; 
}



