@import url('https://fonts.googleapis.com/css2?family=Yeseva+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,300;1,400;1,500;1,600;1,700;1,800&display=swap');
/* header bar code start */ 

body {
    font-family: 'Yeseva One', cursive;  
    width: 100%; 
}
.header {
    display: flex; 
    padding: 10px 40px 10px 40px; 
    margin: 0; 
    align-items: center;
    font-family: 'Open Sans', sans-serif;
    font-size: 25px;
    color: #38618c; 
}
.header img {
    height: 150px; 
    width: auto; 
    border-radius: 50%;
}

.rightlinks {
    display: flex; 
    justify-content: space-evenly;
    width: 100%; 
    margin: 0; 
}
a {
    color: #38618c; 
    text-decoration: none;
}
a :visited {
    color: #38618c; 
    text-decoration: none;
}

/* header bar code end */ 
.which {
    text-align: center;
    font-family: 'Open Sans', sans-serif;
}
.title {
    text-align: center;
    font-family: 'Open Sans', sans-serif;
    font-size: 60px;
    font-weight: 800;
}
.intro {
    display: flex; 
    justify-content: center;
    align-items: center;
    justify-content: space-evenly;
    padding: 10px 20px 20px 20px; 
}
.intro img {
    width: 250px; 
    height: 250px; 
    border-radius: 50%;
    margin: 15px; 
}
.clsblock {
    display: flex; 
    flex-direction: column;
    align-items: center;
}
.seblock {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.vs {
    background-color: #ff5964;
    border-radius: 50%;
    padding: 20px;
    font-size: 50px;
    color: white; 
}
.clscap {
    border-radius: 30px;
    background-color: lightpink;
    padding: 20px; 
    color: black; 
    font-family: 'Open Sans', sans-serif;

}
.secap {
    border-radius: 30px;
    background-color: lightpink;
    padding: 20px; 
    color: black; 
    font-family: 'Open Sans', sans-serif;
}
.cost {
    display: flex; 
    background-color: #eeeeee;
    padding: 40px; 
    justify-content: space-evenly;
    align-items: center; 
}
.costimg img {
    width: 100px; 
    font-family: 'Yeseva One', cursive;  
    margin: 18px; 
}
.costimg {
    display: flex; 
    flex-direction: column;
    text-align: center;
    font-size: 28px;
}
.costcap {
    background-color: #38618c;
    color: white;
}
ul {
    font-size: 25px;
    color: #38618c; 
    font-family: 'Open Sans', sans-serif;
}
ul li{
    padding: 10px; 
}
.secost {
    max-width: 450px;
}
.clscost {
    max-width: 450px;
}